<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" th:href="@{../static/assets/images/logos/favicon.png}" />
  <link rel="stylesheet" th:href="@{../static/assets/css/styles.min.css}" />

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a th:href="@{/}" class="text-nowrap logo-img mb-0">
            <h1>S D W</h1>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">UI COMPONENTS</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href=@{/customerList} aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Customer List</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href=@{/contractList} aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Contract List</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href=@{/apartmentList} aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Apartment List</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="login.html" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Login</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid d-flex justify-content-around">
        <!--  Row 1 -->
        <div class="col-lg-4" style="margin-right: 7px;">
          <div class="card ml-2 " style="background-color: blanchedalmond;">
            <div class="card-body ">
              <h5 class="card-title fw-semibold mb-4">Import Customer</h5>
              <form th:action="@{/api/customer/upload}" method="POST" enctype="multipart/form-data">
                <div class="d-flex align-items-center justify-content-around">
                  <input type="file" name="file" />
                  <input type="submit" class="btn btn-primary" value="Upload"/>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="margin-right: 7px;">
          <div class="card ml-2" style="background-color: darkorange;">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Import Contract</h5>
              <form th:action="@{/api/contact/upload}" method="POST" enctype="multipart/form-data">
                <div class="d-flex align-items-center justify-content-around">
                  <input type="file" name="file" />
                  <input type="submit" class="btn btn-primary" value="Upload"/>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="margin-right: 7px;">
          <div class="card ml-2" style="background-color: aqua;">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Import Apartment</h5>
              <form th:action="@{/api/apartment/upload}" method="POST" enctype="multipart/form-data">
                <div class="d-flex align-items-center justify-content-around">
                  <input type="file" name="file" />
                  <input type="submit" class="btn btn-primary" value="Upload"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/js/sidebarmenu.js"></script>
  <script src="../static/assets/js/app.min.js"></script>
  <script src="../static/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../static/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../static/assets/js/dashboard.js"></script>
</body>

</html>